@import url("./exit_buton.css");
.card{
    width: 250px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
}
.todasLasCiudades{
    display: flex;
}
.cardContentd{
    display: flex;
    text-align: center;
}