
.card{
    width: 100%;
    max-width: 250px;
    height: 400px;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 5px;

    position: relative;

    background-color: #cbf3f0;


}
.cardContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}
.cityName {
    margin-top: 20px;
    color:black;
    text-decoration: none;
}