.cardsBar{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    display: flex;
    
    justify-items:center;

    margin-top: 30px;



}

/*media query mobile:*/

@media (max-width: 375px){
    .cardsBar{
        width: 100%;
    }
}