.navBar{
    display: grid;
    grid-template-columns: 5% auto 20%;
    text-align: center;
    align-items: center;

    background-color: var(--nav-back-purple);
    border-radius: 12px;
    margin: 2px 0px 5px 0px;
    height: 6rem;

}
.searchContain{
    height: 50%;
}
.icon{
    width: 50px;
    border-radius: 5px;
}
.title{
    font-family: 'Roboto Slab', serif;
    color: white;
}

/*media query mobile: */
@media(max-width: 375px){
    .navBar{
        grid-template-columns: 15% 25% 55%;
    }
    .title{
        font-size: 20px;
    }
}